					<table class="tabla-personas">
						<thead>
							<tr>
								<th>Usuario</th><th>Nombre</th><th>Apellido</th><th>Tipo</th><th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
							<tr>
								<td><a href="/profile/<%=user.id%>"><%=user.usuario%></a></td>
								<td><%=user.nombre%></td>
								<td><%=user.apellido%></td>
								<td><%=userKind(user.tipo)%></td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li>
											<a href="/users/<%=user.id%>/edit" class='useredit sans btn btn-xs btn-accion' data-toggle="tooltip" data-toggle="tooltip" userid="<%=user.id%>" data-original-title="Editar"><i class="icn icn-lapiz" ></i></a>
										</li>
										
										<li>
											<a class='useradmin sans btn btn-xs btn-accion<%=(user.admin == 'si') ? '' : '-hover'%>' data-toggle="tooltip" data-toggle="tooltip" userid="<%=user.id%>" data-original-title="Permiso de Administrador"><i data-toggle="modal" data-target="#modalExito" class="icn icn-admin"></i></a>
										</li>
										
										<li>
											<a href="/message/<%=user.id%>" class='usermsj sans btn btn-xs' data-toggle="tooltip" userid="<%=user.id%>" data-toggle="tooltip" data-original-title="Enviar e-mail" ><i class="icn icn-email"></i></a> 
										</li>

										<li>
											<a class='userlock sans btn btn-xs btn-alerta<%=(user.status) ? '-hover' : ''%>' data-toggle="tooltip" data-toggle="tooltip" userid="<%=user.id%>" data-original-title="Bloquear"><i class="icn icn-prohibir" ></i>
											</a>
										</li>
										
									</ul>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<script type="text/javascript" >
						$(function(){
							$('.useradmin').click(function(event){
								event.preventDefault();
								console.log($(this).attr('userid'));
								$.ajax({
									method: "GET",
									url: "useradmin/"+$(this).attr('userid'),
									success: function(data){
										// console.log(data);
										// console.log(data.message);
										// alert(data.message);
										// $(this).removeClass('btn-accion').addClass('btn-accion-hover');
										location.reload();
									}
								});
							});

							$('.userlock').click(function(event){
								event.preventDefault();
								console.log($(this).attr('userid'));
								var button = $(this);
								$.ajax({
									method: "GET",
									url: "userlock/"+$(this).attr('userid'),
									success: function(data){
										// console.log(data);
										// console.log(data.message);
										// alert(data.message);
										// console.log(button);
										// button.toggleClass("hovered");
										// .removeClass('btn-alerta')
										// button.addClass('btn-alerta-hover');
										// console.log(button);
										location.reload();
									}
								});
							});

							// $('.usermsj').click(function(event){
							// 	event.preventDefault();
							// 	console.log($(this).attr('userid'));
							// });
						});
					</script>