					<table class="tabla-personas">
						<thead>
							<tr>
								<th>Usuario</th><th>Nombre</th><th>Apellido</th><th>Tipo</th><th style='text-align: center'>Contactar</th>		
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
							<tr>
								<td><a href="/profile/<%=user.id%>"><%=user.usuario%></a></td>
								<td><%=user.nombre%></td>
								<td><%=user.apellido%></td>
								<td><%=userKind(user.tipo)%></td>
								<td class='centrada'>
								<a class='sans btn btn-xs btn-block' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>