<section class="modulo">
	<div class="contenedor-modulo">
		<div class="modulo-encabezado">
			<h1 class="fino pizarra sin-margen rojo">e[ad]<span class='sans pizarra fino'>Escuela de Arquitectura y Diseño</span></h1>
			<span class='xs bloque izquierda sans negro-fundido en-linea'>Pontificia Universidad Católica de Valparaíso</span>
		</div>
	</div>
	<div class="modulo-cuerpo">
		<div class="contenedor-modulo">
			<div class="fila">
				<%= form_for(@user) do |f| %>
					<div class="tab-content margen-sup" id="tabsRegistro">
						<div class="tab-pane fade in active">
							<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
								<h3 class="fino sans rojo"><i class="icn icn-perfil nav-icn"></i> Editar usuario</h3>
							</div>
							<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
								<h5 class="fino sans pizarra">Datos personales.</h5>
								<hr>
								<% if flash[:notice]  %>
								<div class="alerta alerta-precaucion alert-dismissible fade in" role="alert" style="display: block;">
									<strong><%=flash[:notice]%></strong>
									<% if flash[:error] && flash[:error].any? %>
										<% flash[:error].each do |message| %>
											<br /><%=message%>
										<% end %>
									<% end %>
								</div>
								<br />
								<% end %>
								<div class="margen-inf-sm">
									<%= f.label :nombre, 'Nombres' %>
									<div class="grupo-inputs">		
										<div class="input"><i class="icn icn-md icn-perfil"></i></div>
										<%= f.text_field :nombre, id: 'nombre', class: 'control', placeholder: 'Juan José' %>
									</div>
								</div>
								<div class="margen-inf-sm">
									<%= f.label :apellido, 'Apellidos' %>
									<div class="grupo-inputs">		
										<div class="input"><i class="icn icn-md icn-perfil"></i></div>
										<%= f.text_field :apellido, id: 'apellido', class: 'control', placeholder: 'Pérez López' %>
									</div>
								</div>
								<div class="margen-inf-sm">
									<%= f.label :rut, 'Rut' %>
									<div class="grupo-inputs">		
										<div class="input"><i class="icn icn-md icn-acto"></i></div>
										<%= f.text_field :rut, id: 'rut', class: 'control', placeholder: '12.345.678-9' %>
									</div>
								</div>
								<div class="margen-inf-sm">
									<%= f.label :tipo, 'Relación con la e[ad]' %>
									<div class="grupo-inputs">
										<div class="input"><i class="icn icn-md icn-caronabajo"></i></div>
										<%= f.select :tipo, options_for_select(@opciones_tipo), {}, id: 'tipo' %>
									</div>	
								</div>
								<div class="margen-inf-sm">
									<%= f.label :carrera, 'Carrera' %>
									<div class="grupo-inputs">
										<div class="input"><i class="icn icn-md icn-caronabajo"></i></div>
										<%= f.select :carrera, options_for_select(@opciones_carrera), {}, id: 'carrera' %>
									</div>	
								</div>
								<div class="margen-inf-sm">
									<%= f.label :mail, 'Correo' %>
									<div class="grupo-inputs">
										<div class="input"><i class="icn icn-md icn-email"></i></div>
										<%= f.email_field :mail, id: 'mail', class: 'control', placeholder: 'juanperez@tudominio.doh' %>
									</div>	
								</div>
								<div class="margen-inf-sm">
									<%= f.label :password, 'Contraseña' %>
									<div class="grupo-inputs">
										<div class="input"><i class="icn icn-md icn-abierto"></i></div>
										<%= f.password_field :password, id: 'password', class: 'control' %>
									</div>	
								</div>
								<div class="margen-inf-sm">
									<%= f.label :password_confirmation, 'Confirmar contraseña' %>
									<div class="grupo-inputs">
										<div class="input"><i class="icn icn-md icn-cerrado"></i></div>
										<%= f.password_field :password_confirmation, id: 'password_confirmation', class: 'control' %>
									</div>
								</div>
								<div class="margen-inf-sm">
									<%= f.submit "Guardar", class: "btn btn-accion btn-lg btn-bloque btn-registro2" %>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="registro-3">
							<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
								<h4 class="fino sans centrado margen-sup-lg margen-inf-lg">Tu cuenta ha sido registrada con éxito. Tu nombre de usuario es <a href="#">juanito_perez</a>, revisa tu email (juanito_prz@hotmail.com) para finalizar el proceso de registro.</h4>
								<a class="btn btn-accion btn-lg btn-bloque" href="ingresar.html">Ir al home</a>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function(){
		// Validacion.
		// $('#new_user').submit(function(event){
		// 	var flag = true
		// 	if($('#usuario').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#usuario').css('background', 'pink');
		// 		$('#usuario').focus();
		// 	}else{
		// 		$('#usuario').css('background', 'palegreen');
		// 	}
		// 	if($('#nombre').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#nombre').css('background', 'pink');
		// 		$('#nombre').focus();
		// 	}else{
		// 		$('#nombre').css('background', 'palegreen');
		// 	}
		// 	if($('#apellido').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#apellido').css('background', 'pink');
		// 		$('#apellido').focus();
		// 	}else{
		// 		$('#apellido').css('background', 'palegreen');
		// 	}
		// 	if($('#rut').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#rut').css('background', 'pink');
		// 		$('#rut').focus();
		// 	}else{
		// 		$('#rut').css('background', 'palegreen');
		// 	}
		// 	if($('#tipo').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#tipo').css('background', 'pink');
		// 		$('#tipo').focus();
		// 	}else{
		// 		$('#tipo').css('background', 'palegreen');
		// 	}
		// 	if($('#carrera').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#carrera').css('background', 'pink');
		// 		$('#carrera').focus();
		// 	}else{
		// 		$('#carrera').css('background', 'palegreen');
		// 	}
		// 	if($('#mail').val().trim().length <= 0){
		// 		flag = false;
		// 		$('#mail').css('background', 'pink');
		// 		$('#mail').focus();
		// 	}else{
		// 		$('#mail').css('background', 'palegreen');
		// 	}
		// 	if(flag){
		// 		$('#new_user').submit();
		// 	}else{
		// 		flag = true;
		// 	}
		// });
	});
</script>