<section class="modulo">
	<div class="contenedor-modulo">
		<div class="modulo-encabezado">
			<h1 class="fino pizarra sin-margen rojo">e[ad]<span class='sans pizarra fino'>Escuela de Arquitectura y Diseño</span></h1>
			<span class='bloque margen-xs sans gris'>Pontificia Universidad Católica de Valparaíso</span>
		</div>
	</div>
	<div class="modulo-cuerpo">
		<div class="contenedor-modulo">
			<div class="fila">
				<% if flash[:notice]  %>
				<div class="alerta alerta-precaucion alert-dismissible fade in" role="alert" style="display: block;">
					<strong><%=flash[:notice]%></strong>
					<% if flash[:error] && flash[:error].any? %>
						<% flash[:error].each do |message| %>
							<br /><%=message%>
						<% end %>
					<% end %>
				</div>
				<br />
				<% end %>
				<% if !@user.nil? %>
					<%#= form_for(@user) do |f| %>
					<%= form_tag("/passwordreset", method: "post") do %>
						<div class="tab-content margen-sup" id="tabsRegistro">
							<div class="tab-pane fade in active">
								<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
									<div class="margen-inf-sm">
										<%= label :password, 'Contraseña' %>
										<div class="grupo-inputs">
											<div class="input"><i class="icn icn-md icn-abierto"></i></div>
											<%= password_field :user, :password, class: 'control' %>
										</div>	
									</div>
									<div class="margen-inf-sm">
										<%= label :password_confirmation, 'Confirmar contraseña' %>
										<div class="grupo-inputs">
											<div class="input"><i class="icn icn-md icn-cerrado"></i></div>
											<%= password_field :user, :password_confirmation, class: 'control' %>
										</div>
									</div>
									<div class="margen-inf-sm">
										<%= hidden_field_tag(:id, @user.id) %>
										<%= submit_tag "Guardar", class: "btn btn-accion btn-lg derecha btn-registro2" %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<h2>El token ya no es valido.</h2>
				<% end %>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
</script>