					<table class="tabla-personas">
						<thead>
							<tr>
								<th>Usuario</th><th>Nombre</th><th>Apellido</th><th>Tipo</th><th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
							<tr>
								<td><a href="/profile/<%=user.id%>"><%=user.usuario%></a></td>
								<td><%=user.nombre%></td>
								<td><%=user.apellido%></td>
								<td><%=userKind(user.tipo)%></td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li>
										<a class='sans btn btn-xs btn-alerta<%=(user.status) ? '-hover' : ''%>' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Bloquear"><i class="icn icn-prohibir" ></i></a>
										</li>
										<li>
											<a class='sans btn btn-xs btn-accion<%=(user.admin == 'si') ? '' : '-hover'%>' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Permiso de Administrador"><i data-toggle="modal" data-target="#modalExito" class="icn icn-acto"></i></a>
										</li>
										<li>
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>