					<table class="tabla-personas">
						<thead>
							<tr>
								<th>Usuario</th><th>Nombre</th><th>Apellido</th><th>Tipo</th><th>Contactar</th>		
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
							<tr>
								<td><a href="/profile/<%=user.id%>"><%=user.usuario%></a></td>
								<td><%=user.nombre%></td>
								<td><%=user.apellido%></td>
								<td><%=userKind(user.tipo)%></td>
								<td>
									<ul class="tooltip-demo margen-vertical-md">
										<li class="sin-margen-izq">
											<a class='sans btn btn-xs' data-toggle="tooltip" data-toggle="tooltip" data-original-title="Enviar e-mail" href="enviar-email.html"><i class="icn icn-email"></i></a> 
										</li>
									</ul>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>