<section class="modulo">
	<div class="modulo-cuerpo">
		<div class="margen-inf-sm">
			<div class="contenedor-modulo">
				<i class="icn icn-engranaje rojo margen-der-sm nav-icn"></i>
				<% if @admin %>
					<%= render 'admin_menu' %>
				<% else %>
					<%= render 'menu' %>
				<% end %>
			</div>
		</div>
		<div class="contenedor-modulo">
			<div class="tab-content margen-sup">
				<div class="fila">
					<% if @admin %>
						<%= render 'admin_userssearch' %>
					<% else %>
						<%= render 'userssearch' %>
					<% end %>
				</div>
				<% if @users %>
				<div class="fila">
					<% if @admin %>
						<%= render 'admin_userslist' %>
					<% else %>
						<%= render 'userslist' %>
					<% end %>
					<nav>
						<%= will_paginate @users,
							:class => 'paginacion',
							:previous_label => '<span aria-hidden="true">&laquo;</span>',
							:next_label => '<span aria-hidden="true">&raquo;</span>' %>
					</nav>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(function(){
		// Bind para capturar el click en el boton search.
		$('#btnsearch').one('click', function(e){
			e.preventDefault();
			$('#formsearch').submit();
		});
		// Bind para capturar el enter en el campo texto busqueda.
		$('#user_search').keypress(function (e){
			var key = e.which;
			if(key == 13){
				$('#btnsearch').click();
				return false;
			}
		});
	});
</script>