<% content_for :sidebar do %>
<% end %>

<% content_for :content do %>
<div class="row">
	<div class="grid8 offset2">
		<div style="float:right"><%= image_tag 'estornino.jpg' %></div> 	
		<% form_for :usuario, @usuario, :url => { :action => "create" },:html => {:name => 'form', :class=>'form-horizontal'} do |f| %>

		<fieldset>

			<h3>Nuevo Usuario</h3> 			
			<div class="control-group">
				<label class="control-label" for="input01">Usuario</label>
				<div class="controls">
					<%= f.text_field :usuario,:size => 20, :id=>"username_field" %> <span id="check_user" ></span>
					<p class="help-block">Elije un nombre que puedas recordar con facilidad. Se recomienda no utilizar espacios ni mayúsculas ya que el sistema los distingue y después son fáciles de olvidar.</p>
				</div>
			</div>	
			<div class="control-group">
				<label class="control-label" for="input01">Tipo</label>
				<div class="controls">
					<select name="usuario[tipo]" onchange="carrera(this.value)">
						<option></option>
						<option value="a">Alumno(a)</option>
						<option value="p">Profesor(a)</option>
						<option value="e">Ex-Alumno(a)</option>
						<option value="f">Amigo(a)</option>
						<option value="o">Otro(a)</option>
					</select>
				</div>
			</div>

			<div class="control-group" id="carrera">
				<label class="control-label" for="input01">Carrera</label>
				<div class="controls">
					<select name="usuario[carrera]">
						<option></option>
						<option value="Arquitectura">Arquitectura</option>
						<option value="Diseño Grafico">Diseño Gráfico</option>
						<option value="Diseño Industrial">Diseño Industrial</option>
						<option value="Nautico y Maritimo">Naútico y Marítimo</option>
						<option value="Ciudad y Territorio">Ciudad y Territorio</option>
						<option value="Formacion y Oficio">Formación y Oficio</option>
						<option value="Interaccion y Servicios">Interacción y Servicios</option>
						<option value="Doctorado en AD">Doctorado en A&D</option>												
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Año Ingreso</label>
				<div class="controls">
					<%= f.text_field :anoingreso,:size => 4 %>
					<span class="required"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Nombre</label>
				<div class="controls">
					<%= f.text_field :nombre,:size => 20 %> <span class="required">*</span><br />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Apellido</label>
				<div class="controls">
					<%= f.text_field :apellido,:size => 20 %> <span class="required">*</span><br />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Rut</label>
				<div class="controls">
					<%= f.text_field :rut,:size => 20 %> <span class="required">*</span><br />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Mail</label>
				<div class="controls">
					<%= f.text_field :mail, :size=>20, :id=>"email_field" %> <span class="required">*</span> <span id="check_mail"></span>
					
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Pagina en Wiki E[ad]</label>
				<div class="controls">
					<%= f.text_field :wikipage,:size => 20 %>
					<p class="help-block">En caso de no especificar una pagina, se creara una pagina con tus datos en la wiki</p>
				</div>
			</div>
			<h3>Contraseña</h3> 

			<div class="control-group">
				<label class="control-label" for="input01">Contraseña</label>
				<div class="controls">
					<input id="usuario_contrasena" name="usuario[password]" size="20" type="password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Verificación</label>
				<div class="controls">
					<input id="contrasena_rep" name="contrasena_rep" size="20" type="password" onchange="checkPass()">
					<p id="passwordNotify" class="help-block"></p>
				</div>
			</div>	

			<div class="control-group">
				<label class="control-label" for="input01"><span class="hide">Captcha</span></label>
				<div class="controls">
					<%= recaptcha_tags%>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><span class="hide">EULA</span></label>
				<div class="controls checkbox">
					<label class="inline">
						<input type="checkbox" id="tyc" name="tyc" value="no">
						Acepto los <a href="http://personas.ead.pucv.cl/others/terminos">términos y condiciones</a> e[ad].
					</label>
				</div>
			</div>
			<script language="JavaScript">
			function confirma(){
				if (!document.getElementById('tyc').checked){
					if (confirm('No ha aceptado los terminos y condiciones de uso, los desea aceptar ahora?'))
						{ document.form.submit() }
				}
				else { document.form.submit() }
			}
	</script><br /><br />
	<div class="controls">
		<input type=button onclick="confirma()" value="Crear nuevo usuario" class="btn btn-large btn-success">
	</div>
</fieldset>
<% end %>
</div>
</div>
<% end %>
