	<% for user in @usuarios %>
		<% @login_usuario = Usuario.find_by_sql("SELECT * FROM casserver_st WHERE (username = '#{user.usuario}') ORDER BY id DESC LIMIT 1 ") %>
		<tr id="u_<%= user.id %>">
			<td class="username" ><a class="edit" href="/usuarios/edit/<%= user.id %>"><%= user.usuario %></a> <div id="not<%= user.id %>"></div></td>
			<td class="nombre"><%= user.nombre %></td>
			<td class="apellido"><%= user.apellido %></td>
			<td class="mail"><%= user.mail %></td>
			<td class="tipo"><div id="tipo_u_<%= user.id %>"><% if user.tipo == 'a'%> Alumno <% end %> <% if user.tipo == 'e'%> Exalumno <% end %> <% if user.tipo == 'p'%> Profesor <% end %> <% if user.tipo == 'n'%> NULL <% end %> <% if user.tipo == 'f'%> Amigo <% end %><% if user.tipo == 'o'%> Otro <% end %></div></td>
			<td class="opciones"><a href'#' onclick='if (confirm("Realmente desea bloquear a este usuario?")) new Ajax.Updater({success:"not<%= user.id %>"}, "/usuarios/block/<%= user.id %>", {asynchronous:true, evalScripts:true}); return false;'><img src='../../images/minus-small-circle.png'></a></td>
			<td class="opciones">
				<% if user.admin == "si" %>		
					<b id='llave_<%= user.id %>'><a href'#' onclick='if (confirm("Realmente desea que el usuario <%= user.nombre %> <%= user.apellido %> ya no sea Administrador?")) new Ajax.Updater({success:"llave_<%= user.id %>"}, "/usuarios/userIsAdmin/<%= user.id %>?accion=n", {asynchronous:true, evalScripts:true}); return false;'><img src='../../images/key.png'></a></strong>
				<% else %>
					<b id='llave_<%= user.id %>'><a href'#' onclick='if (confirm("Realmente desea que el usuario <%= user.nombre %> <%= user.apellido %> sea Administrador de Personas?")) new Ajax.Updater({success:"llave_<%= user.id %>"}, "/usuarios/userIsAdmin/<%= user.id %>?accion=y", {asynchronous:true, evalScripts:true}); return false;'><img src='../../images/key_gris.png'></a></strong>				
				<% end %>
			</td>
			<td><input type="checkbox" name="por_lote[]" id="checkbox_<%= user.id %>" value="<%= user.id %>"></td>
		</tr>	
	<% end %>

