<% content_for :sidebar do %>
<% end %>
<% content_for :content do %>
	<h2>Sitios Autorizados</h2>
	<strong><%= @usuario.nombre %></strong> <%= @usuario.apellido %> | <b style="color:red;"><%= @usuario.carrera %></strong>
	<br /><br />
	<table>
	<% for s in @listaSitios %>
		<tr><td valing="center"><%= image_tag("tick-small.png") %></td><td><strong> <%= s.nombre %></strong> | <small><%= s.url %></small></td>	
	<% end %>
	</table>
	<br /><br />
	<h3>Autorizar en sitios</h3> <%= link_to_function "[ver]" do |page| page.toggle "sitios_autorizados" end %> </div>
	<div id="sitios_autorizados" style="display:none;">
		<table width='80%' cellspacing='10' border='0'>
		<% for sitio in @sitios %>
			<tr><td style='border-bottom:1px solid #E5E5E5;'><strong>:: <%= sitio.nombre %> </strong><br /> <small><%= sitio.url %></small></td><td width='80'><a href='../../usuarios/crearUsuarioSitio?usuario_id=<%= @usuario.id %>&sitio_id=<%= sitio.id %>'><img src='../../images/plus-small.png'></a></td></tr>
		<% end %>
		</table>
	</div>
<% end %>
