<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Personas e[ad]</title>
	<%= stylesheet_link_tag 'personas' %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Optional -->
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'transition' %>
	<%= javascript_include_tag 'modal' %>
	<%= javascript_include_tag 'tab' %>
	<%= javascript_include_tag 'dropdown' %>
	<%= javascript_include_tag 'collapse' %>
	<%= javascript_include_tag 'tooltip' %>
	<!-- Default -->
	<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="fondo-header-pyxis">
		<div class="pag sin-relleno menu">
			<nav class='menu-nav'>
				<a href='personas-normal.html'>
					<div class='logo-pyxis'>
						<h6 class='gruesa sans rojo no-responsivo'>
							Personas<span class='fino gris-oscuro sans'>e[ad]</span>
						</h6>
					</div>
				</a>
				<a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
					<i class="icn icn-menu"></i>
				</a>
				<% if !session[:cas_user].nil? %>
					<ul class="nav-rotulos nav nav-pills collapse navbar-collapse" id="bs-example-navbar-collapse-2">
						<li><%= link_to controller: "user", action: "profile", user_id: session[:cas_extra_attributes]["id"] do %><i class='icn icn-usuario'></i> Mi perfil<% end %></li>
						<li><%= link_to controller: "user", action: "edit", user_id: session[:cas_extra_attributes]["id"] do %><i class="icn icn-lapiz"></i> Editar cuenta<% end %></li>
						<li><%= link_to controller: "session", action: "logout" do %><i class="icn icn-salir"></i> Cerrar sesión<% end %></li>
					</ul>
				<% end %>
			</nav> 	
		</div>
	</div>
	<%= yield %>
	<footer>
		<p class="centrado xs"><b>Personas</b> es un sistema de registro único (SSO) desarrollado por el <a target="_blank" href="http://www.ead.pucv.cl/mundo/investigacion/tig">.:TIG:.</a> para todos los servicios de la <a target="_blank" href="http://www.ead.pucv.cl">e[ad] Escuela de Arquitectura y Diseño PUCV</a>. </p>
	</footer>
	<script>
		// Tooltip
		// Abre tab según href anterior
		$(function(){
			var hash = window.location.hash;
			hash && $('ul.nav a[href="' + hash + '"]').tab('show');
			$('.nav-tabs a').click(function (e) {
				$(this).tab('show');
				var scrollmem = $('body').scrollTop();
				window.location.hash = this.hash;
				$('html,body').scrollTop(scrollmem);
			});
		});
		$('.tooltip-demo').tooltip({selector: "a[data-toggle=tooltip]"});
	</script>
</body>
</html>
