<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Personas e[ad]</title>
	<%= stylesheet_link_tag    "bootstrap.min"  %>
	<%= stylesheet_link_tag    "bootstrap-responsive.min"  %>
	<%= stylesheet_link_tag    "style" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "tablesort" %>		
</head>

<body>
<div id="page">
	<div id="header">		
		<h1 class="title">Personas e<span class="red">[</span>ad<span class="red">]</span></h1>
		<p>Administrador de personas y Sitios.</p>		
		
		<div id="notificaciones">
			<div><%= flash[:notice] %></div>
			<script type="text/javascript">setTimeout("new Effect.Fade('notificaciones');", 5000)</script>
		</div>	
	</div>


	
	<div id="content" class="narrowcolumn">	
	<%= yield :content %>
	</div>

	<div id="tools">		
		<ul><%= image_tag("users.png") %> <td valign="center"><strong>Usuarios</strong><br />
			<li><a class="search" href="/usuarios/list/0">Buscar</a></li>
			<li><a class="add" href="/usuarios/new">Agregar</a></li>
			<li><a  class="tickets" href="/usuarios/tickets">Tickets CAS</a></li>
		</ul>
		<div id="extraSideBar"><%= yield :sidebar %></div>	
		
	</div>

    <img src='images/estorninos.jpg'>
	<div id="footer">
	
	</div>
</div>		
</body>
</html>
